.cd-step-content {
  padding: 1.8em 0 3em;
  opacity: 0;
  animation: cd-center-to-right 0.5s 0s backwards;
}
.cd-step-content header {
  position: relative;
  margin-bottom: 1em;
}
.cd-step-content h1 {
  font-size: 2.4rem;
}
.cd-step-content .steps-indicator {
  position: absolute;
  right: 0;
  bottom: 2px;
  color: #5d7c89;
}
.cd-step-content .options-list > li {
  border: 2px solid #ededed;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border-color 0.3s;
}
.cd-step-content .options-list > li.selected {
  border-color: #ffb500;
}
.cd-step-content .radio,
.cd-step-content .check {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.cd-step-content .radio::after,
.cd-step-content .radio::before,
.cd-step-content .check::after,
.cd-step-content .check::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.cd-step-content .radio::before,
.cd-step-content .check::before {
  border: 2px solid #ededed;
  background: #ffffff;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}
.cd-step-content .radio::after,
.cd-step-content .check::after {
  background: url(../assets/img/cd-icon-check.svg) no-repeat center center;
}
.cd-step-content .radio::before {
  border-radius: 50%;
}
.cd-step-content .check::before {
  border-radius: 4px;
}
.cd-step-content .selected .radio::before,
.cd-step-content .selected .check::before {
  background: #ffb500;
  border-color: #ffb500;
  transform: scale(1.5);
  animation: cd-bounce 0.5s;
}
.active .cd-step-content {
  opacity: 1;
  transform: translateX(0);
  animation: cd-right-to-center 0.5s 0.2s backwards;
}
.move-left .cd-step-content {
  animation: cd-center-to-left 0.5s 0s backwards;
}
.active.back .cd-step-content {
  animation: cd-left-to-center 0.5s 0.2s backwards;
}
@media only screen and (min-width: 768px) {
  .cd-step-content header {
    margin-bottom: 2em;
  }
  .cd-step-content h1 {
    font-size: 4rem;
  }
  .cd-step-content .steps-indicator {
    font-size: 2rem;
  }
  .cd-step-content .options-list > li {
    margin-bottom: 2%;
  }
  .cd-step-content .options-list.cd-col-2::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-step-content .options-list.cd-col-2 > li {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .cd-step-content .options-list.cd-col-2 > li:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-step-content {
    padding: 220px 0 140px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .cd-step-content header {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (min-height: 850px) {
  .cd-step-content {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1480px) and (min-height: 850px) {
  .cd-step-content {
    padding: 250px 0 140px;
  }
}

@keyframes cd-right-to-center {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes cd-left-to-center {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes cd-center-to-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}
@keyframes cd-center-to-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}
@keyframes cd-bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.6);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.5);
  }
}
