.cd-builder-steps .models-list {
  text-align: center;
}
.cd-builder-steps .models-list > li {
  padding: 2.7em 0;
}
.cd-builder-steps .models-list .name {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0.2em;
}
.cd-builder-steps .models-list img {
  display: block;
  max-width: 80%;
  margin: 1.8em auto 2.2em;
}
.cd-builder-steps .models-list .price {
  display: block;
  color: #5d7c89;
  margin-bottom: 1em;
}
.cd-builder-steps .models-list .selected .radio::before {
  /* loader */
  background: transparent;
  border-color: #ededed;
  border-right-color: #ffb500;
  transform: scale(1);
  animation: cd-load 0.6s infinite;
}
.cd-builder-steps .models-list .selected.loaded .radio::before {
  background: #ffb500;
  border-color: #ffb500;
  transform: scale(1.5);
  animation: cd-bounce 0.5s;
}

@keyframes cd-load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
