/* Kolory */

.cd-product-previews {
  position: relative;
  margin: 4.5em 0;
}
.cd-product-previews > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.cd-product-previews > li.selected {
  position: relative;
  opacity: 1;
}
.cd-product-previews > li img {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .cd-product-previews {
    margin: 0 0 2em;
  }
}
@media only screen and (min-width: 1480px) and (min-height: 850px) {
  .cd-product-previews {
    margin-bottom: 4em;
  }
}

.cd-product-customizer {
  text-align: center;
}
.cd-product-customizer li {
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
}
.cd-product-customizer li:last-of-type {
  margin-right: 0;
}
.cd-product-customizer li::before,
.cd-product-customizer li::after {
  /* chmurka */
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-5px);
  -ms-transform: translateX(-50%) translateY(-5px);
  transform: translateX(-50%) translateY(-5px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, visibility 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s,
    -webkit-transform 0.2s;
}
.cd-product-customizer li::before {
  /* trojkat */
  content: "";
  bottom: 100%;
  height: 0;
  border: 8px solid transparent;
  border-top-color: rgba(237, 237, 237, 0.8);
  border-top-width: 10px;
  border-top-width: 10px;
}
.cd-product-customizer li::after {
  /* srodek chmurki */
  content: attr(data-content);
  background-color: rgba(237, 237, 237, 0.8);
  white-space: nowrap;
  padding: 0.7em 1.1em;
  border-radius: 2em;
  bottom: calc(100% + 18px);
}
.cd-product-customizer li:hover::before,
.cd-product-customizer li:hover::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.cd-product-customizer a {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 2px #ededed;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.cd-product-customizer .selected a {
  box-shadow: 0 0 0 2px #ffb500;
}
@media only screen and (min-width: 768px) {
  .cd-product-customizer li {
    margin-right: 1em;
  }
  .cd-product-customizer a {
    height: 50px;
    width: 50px;
  }
}

[data-color="gray"] {
  background-color: #bbbbbb;
}

[data-color="gold"] {
  background-color: #e2d300;
}

[data-color="intense"] {
  background-color: #1b76ffbb;
}

[data-color="red"] {
  background-color: #da0202;
}

[data-color="rose"] {
  background-color: #b4005a;
}

[data-color="darkblue"] {
  background-color: #000f97;
}

[data-color="blue"] {
  background-color: #404cbb;
}

/* Akcesoria */

.cd-builder-steps .accessories-list > li {
  text-align: center;
  padding: 2em 1.5em;
  font-weight: bold;
}
.cd-builder-steps .accessories-list p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.cd-builder-steps .accessories-list .price {
  display: block;
  margin: 1.2em auto;
  color: #5d7c89;
}
@media only screen and (min-width: 768px) {
  .cd-builder-steps .accessories-list > li {
    position: relative;
    text-align: left;
    padding: 35px 250px 35px 32px;
  }
  .cd-builder-steps .accessories-list p {
    font-size: 2.2rem;
  }
  .cd-builder-steps .accessories-list .check,
  .cd-builder-steps .accessories-list .price {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-builder-steps .accessories-list .check {
    right: 32px;
  }
  .cd-builder-steps .accessories-list .price {
    right: 102px;
    margin: 0;
    font-size: 2.2rem;
    color: #24221f;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-builder-steps .accessories-list > li {
    padding-right: 300px;
  }
  .cd-builder-steps .accessories-list p,
  .cd-builder-steps .accessories-list .price {
    font-size: 2.6rem;
  }
}

/* Podsumowanie */

.cd-builder-steps .summary-list > li {
  position: relative;
  margin: 2em 0;
}
.cd-builder-steps .summary-list h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
}
.cd-builder-steps .summary-list h2::before {
  content: "";
  display: block;
  height: 2px;
  width: 32px;
  background: #ededed;
  margin-bottom: 0.6em;
}
.cd-builder-steps .summary-list .product-preview {
  display: block;
  max-width: 700px;
  width: 100%;
  margin-bottom: 2em;
}
.cd-builder-steps .summary-list h3 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0.4em 0;
}
.cd-builder-steps .summary-list p {
  color: #5d7c89;
  line-height: 1.6;
}
.cd-builder-steps .summary-list .summary-color::after {
  clear: both;
  content: "";
  display: block;
}
.cd-builder-steps .summary-list .summary-color > * {
  float: left;
}
.cd-builder-steps .summary-list .color-swatch {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 2px #ededed;
  border-radius: 50%;
}
.cd-builder-steps .summary-list .color-label {
  display: inline-block;
  font-size: 1.8rem;
  margin-top: 11px;
  margin-left: 0.5em;
}
.cd-builder-steps .summary-list .summary-accessories {
  color: #5d7c89;
  list-style: disc;
  list-style-position: inside;
}
.cd-builder-steps .summary-list .summary-accessories p {
  display: inline;
}
@media only screen and (min-width: 1024px) {
  .cd-builder-steps .summary-list {
    text-align: center;
  }
  .cd-builder-steps .summary-list > li {
    margin: 0 0 4.5em;
  }
  .cd-builder-steps .summary-list h2 {
    font-size: 1.8rem;
  }
  .cd-builder-steps .summary-list h2::before {
    margin: 0 auto 0.6em;
  }
  .cd-builder-steps .summary-list h3 {
    font-size: 4rem;
    text-align: center;
  }
  .cd-builder-steps .summary-list p {
    font-size: 1.8rem;
  }
  .cd-builder-steps .summary-list .product-preview {
    margin: 0 auto 2em;
  }
  .cd-builder-steps .summary-list .summary-color {
    display: inline-block;
  }
  .cd-builder-steps .summary-list .color-swatch {
    height: 54px;
    width: 54px;
  }
  .cd-builder-steps .summary-list .color-label {
    font-size: 2.4rem;
    margin-top: 15px;
  }
}
